/* 全局样式 */
html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
}

/* 卡片区样式 */
.el-card {
    box-shadow: 0 1px 1px rgba(0, 8, 10, 0.15) !important;
}

/* 全局表格样式 */
.el-table {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 12px;
    min-width: 350px;
}